* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  overflow-x: hidden;
}

h1 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 25px;
  font-size: 36px;
}

.intro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #16181d;
  overflow-x: hidden;
  
  /* height: 100vh;  */
}

.intro > img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.intro > img.seta {
  width: 35px;
  height: auto;
}

.seta {
  position: absolute;
  bottom: 270px;
  left: 50%;
  transform: translate(-50%);
  width: 35px;
  height: auto;
}

.img {
  width: 100%;
  height: auto;
  display: block;
}

.foto-perfil {
  width: 130px;
  height: 125px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 50px;
  border: 3px solid #708090;
}
.conteudo {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 10;
  text-align: center;
}

.saudacao {
  font-family: JetBrains Mono, monospace;
  color: #bfc4cd;
  font-size: 2rem;
  margin-bottom: 20px;
}

.saudacao span {
  color: #e7606e;
}

.descricao {
  font-family: "Roboto Mono" sans-serif;
  font-size: 10px;
  line-height: 1.5;
  max-width: 850px;
  margin: 0 auto;
}

.tecnologias {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.tecnologias img {
  width: 30px;
  height: 30px;
}

.tecnologia {
  display: flex;
  gap: 10px;
  background-color: #282b33;
  padding: 10px 16px;
  border-radius: 30px;
}

.titulo-projetos {
  display: block;
  color: white;
  text-align: center;
  position: relative;
  z-index: 10;
  margin-bottom: 40px;
}

.titulo-projetos h2 {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.titulo-projetos p {
  color: #e7606e;
  font-size: 16px;
  margin-bottom: 16px;
  margin-bottom: 8px;
}

.lista-projetos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 24px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 150px;
}

.lista-projetos img {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.projeto {
  background-color: #282b33;
  padding: 10px;
  border-radius: 10px;
}

.projetos {
  font-family: "JetBrains Mono", monospace;
  background-color: #16181d;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;

}

.projeto h3 {
  color: #e4e4e7;
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 16px;
}

.projeto p {
  color: #a8a8b3;
  font-size: 14px;
  line-height: 1.5;
}

.servicos {
  width: 100%;
  min-height: 100vh;
  background-color: #0d0e10;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 80px 20px;
}

.titulo-servicos {
  text-align: center;
  margin-bottom: 45px;
}

.titulo-servicos p {
  color: #e7606e;
  font-size: 16px;
  margin-bottom: 10px;
}

.titulo-servicos h2 {
  color: #e4e4e7;
  font-size: 24px;
  font-weight: 700;
}

.lista-servicos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 90%;
  max-width: 1000px;
}

.servico {
  min-height: 125px;
  padding: 20px;
  border: 1px solid #24262d;
  border-radius: 8px;
}

.servico img {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}

.servico h3 {
  color: #e4e4e7;
  font-size: 14px;
  margin-bottom: 8px;
}

.servico p {
  color: #a8a8b3;
  font-size: 12px;
  line-height: 1.5;
}


@media (max-width: 768px) {
  .intro {
    min-height: 120vh;
  }
  
  .tecnologias {
    gap: 10px;
  }

  .tecnologia {
    padding: 8px 12px;
  }

  .tecnologia img {
    width: 25px;
    height: 25px;
  }

  .conteudo {
    top: 50%;
    width: 90%;
  }

  .lista-projetos {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .projetos {
    background-color: #16181d;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px !important;
  }

  .seta {
    top: 93%;
    bottom: auto;
    width: 35px;
  }

  .lista-servicos {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .servico {
    width: 100%;
  }
}



